html,body{
    width: 100%;
    background-color: rgba(37, 97, 164, 0.12);
}

header{
    height: 80px;
    background-color: #2b669a;
    padding-top: 20px;
}

.sidebar{
    background-color: #337ab7;
    color: white;

}

.affix-top{
    margin-top:10%;
}
.affix{
    right:8%;
    top:0;

}

.row{
}


.nav{
    float:right;
    margin-right: 20px;
}

.logo{
    float: left;
    margin-left: 30px;
}

.btn{
    width:30%;
    margin-left: 10%;
}


/*TOGGLE COMMENTS*/

.write{
    display:none;
}

.flip{

    cursor:pointer;
}

/*TITRE*/
.page-header{
    text-align:center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

/*Sidebar*/
.caption > h2 {
    color:white;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

}

/*Affichage de la reponse*/
.reply{
    line-height: 15px;
    background: rgba(43,102,154,0.2) ;
    width:80%;
    margin-left: 10%;
    margin-bottom: 30px;

}

.reply > input{
    margin-left: 60px;
}

.reply > label{
    font-size:15px;
    margin-left: 50px;
    margin-top: 15px;
}

.reply > .btn{
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    margin-bottom: 10px;
    margin-left: 30%;
}

.reply > .form-horizontal{
    margin-top: 5px;
}


@media (max-width: 1000px) {
    .affix {
        position: relative;
        right:0;
        margin:5%;
    }
}
